.header[data-v-5ed8138a] {
  width: 1200px;
  margin: 0 auto;
  height: 115px;
  padding: 24px 0;
}
.header > div[data-v-5ed8138a] {
  display: inline-block;
  vertical-align: middle;
}
.header > .image-fa[data-v-5ed8138a] {
  margin-right: 95px;
}
.header > .tab-bar span[data-v-5ed8138a] {
  margin-right: 70px;
  cursor: pointer;
}
.header > .tab-bar span[data-v-5ed8138a]:hover {
  color: #ff5401;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.header > .phone-fa[data-v-5ed8138a] {
  float: right;
}
.header > .phone-fa > .phone-image[data-v-5ed8138a] {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.header > .phone-fa > .phone-detail[data-v-5ed8138a] {
  display: inline-block;
  vertical-align: middle;
}
.header > .phone-fa > .phone-detail > span[data-v-5ed8138a] {
  display: block;
  color: #f39d48;
}
.header > .phone-fa > .phone-detail > span[data-v-5ed8138a]:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.header > .phone-fa > .phone-detail > span[data-v-5ed8138a]:nth-child(2) {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
}

.home .register[data-v-fae5bece] {
  min-width: 1200px;
  height: 450px;
  background: url(../img/bd-register.42659825.png) no-repeat 50%;
  background-size: cover;
}
.home .register .button-fa[data-v-fae5bece] {
  width: 1200px;
  margin: 0 auto;
  height: 450px;
  position: relative;
}
.home .register .button-fa .button-register[data-v-fae5bece] {
  width: 169px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  bottom: 93px;
  color: #fff;
  cursor: pointer;
}
.home .company-enrgy[data-v-fae5bece] {
  width: 100%;
  background-color: #eff2fa;
}
.home .company-enrgy > .enrgy-fa[data-v-fae5bece] {
  width: 1200px;
  height: 124px;
  margin: 0 auto;
  padding: 35px 0 37px;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item[data-v-fae5bece] {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div[data-v-fae5bece] {
  display: inline-block;
  vertical-align: top;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div > img[data-v-fae5bece] {
  position: relative;
  top: -8px;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div > span[data-v-fae5bece] {
  display: block;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div > span[data-v-fae5bece]:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div > span[data-v-fae5bece]:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #939393;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div[data-v-fae5bece]:nth-child(1) {
  margin-right: 20px;
}
.home .company-enrgy > .enrgy-fa > .enrgy-item > div[data-v-fae5bece]:nth-child(2) {
  margin-right: 25px;
}
.home .register-first[data-v-fae5bece] {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: 84px;
}
.home .register-first .first-title[data-v-fae5bece] {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #2c2c2c;
}
.home .register-first .first-title .line[data-v-fae5bece] {
  width: 109px;
  height: 4px;
  display: block;
  background-color: #f8cb51;
  margin: 0 auto;
  margin-top: 17px;
}
.home .register-first .concat-us[data-v-fae5bece] {
  margin-top: 63px;
}
.home .register-first .concat-us .concat-left[data-v-fae5bece] {
  width: 448px;
  height: 536px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(102, 111, 136, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(102, 111, 136, 0.25);
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}
.home .register-first .concat-us .concat-left .left-title[data-v-fae5bece] {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(240deg, #4e7eeb 0%, #4eeaf4 100%);
}
.home .register-first .concat-us .concat-left .left-content[data-v-fae5bece] {
  padding: 33px 58px 37px 57px;
}
.home .register-first .concat-us .concat-right[data-v-fae5bece] {
  width: 717px;
  height: 536px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(102, 111, 136, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(102, 111, 136, 0.25);
}
.home .register-first .concat-us .concat-right .right-title[data-v-fae5bece] {
  height: 90px;
}
.home .register-first .concat-us .concat-right .right-title span[data-v-fae5bece] {
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.home .register-first .concat-us .concat-right .right-title span[data-v-fae5bece]:nth-child(1) {
  width: 358px;
  line-height: 90px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #fc7a24), to(#ffad1f));
  background: linear-gradient(90deg, #fc7a24 1%, #ffad1f 100%);
}
.home .register-first .concat-us .concat-right .right-title span[data-v-fae5bece]:nth-child(2) {
  width: 359px;
  height: 86px;
  line-height: 87px;
  border-bottom: 3px solid #ffad1f;
  color: #383838;
}
.home .register-first .concat-us .concat-right .right-content[data-v-fae5bece] {
  height: 446px;
  padding: 10px 44px 0 43px;
}
.home .register-first .concat-us .concat-right .right-content > span[data-v-fae5bece] {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #404040;
}
.home .register-first .concat-us .concat-right .right-content .concat-image[data-v-fae5bece] {
  padding-top: 10px;
}
.home .register-first .concat-us .concat-right .right-content .concat-image > div[data-v-fae5bece] {
  display: inline-block;
  vertical-align: top;
  margin-right: 21px;
}
.home .register-first .concat-us .concat-right .right-content .concat-image > div[data-v-fae5bece]:last-child {
  margin-right: 0;
}
.home .register-first .concat-us .concat-right .right-content .concat-image > div > span[data-v-fae5bece] {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #404040;
}
.home .register-first .concat-us .concat-right .right-content .concat-button[data-v-fae5bece] {
  width: 316px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 22px;
  margin: 22px auto;
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, #fc7a24), to(#ffad1f));
  background: linear-gradient(-90deg, #fc7a24 1%, #ffad1f 100%);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(107, 129, 193, 0.25);
          box-shadow: 0px 4px 20px 0px rgba(107, 129, 193, 0.25);
  text-align: center;
}

#style_app_3NjHy {
  color: #2c3e50;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 1200px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

em {
  color: #66c23a !important;
  font-style: normal;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

